.clearfix:after {
	content: ".";
	display: block;
	height: 0.1px;
	clear: both;
	font-size: 0;
	visibility: hidden;
}
 
.clearfix {
	display: block;
}
 
 
/* This would preferable go in an IE specific stylesheet */
/* \*/
* html .clearfix {
	height: 1%;
	zoom: 1;
}
/**/