

#content_wrapper
{
margin-top: 10px; background: #ffffff;
	border-top: 1px solid #cccccc;border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	behavior:url(plugins/border-radius.htc);
	width: 700px;
}

#content_wrapper #submenu,
#content_wrapper #content
{
	margin-top: 20px;
	margin-bottom: 10px;
}
