.dashboard_box
{
	float:left;
	height:120px;
	background-color: #ececec;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(plugins/border-radius.htc);
	padding: 0  15px;
	margin: 0 10px 10px 0;
	border: 1px solid #ececec;
}

.dashboard_box_large
{
}

.dashboard_box_small
{
}

.dashboard_focus
{
	border: 1px solid #dadada;
}